# **Python para análise de dados(Pandas)** - *Fernanda Santos - Alterações Mateus Silva*

In [4]:
#importando a biblioteca pandas
import pandas as pd

In [6]:
#Mudando o caminho para o arquivo local na minha máquina
df = pd.read_csv("C:/Users/mateus.menezes/Documents/Cursos/Digital Innovation One/Desafios/Cusro_Python_Pandas_Digital_Innovation-master/datasets/Gapminder.csv",error_bad_lines=False, sep=";")

In [7]:
#Visualizando as 5 primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [9]:
#Colocando o nome em portugues
df = df.rename(columns={"country":"Pais", "continent": "Continente", "year":"Ano", "lifeExp":"Expectativa de vida", "pop":"Pop Total", "gdpPercap": "PIB"})

In [11]:
#Primeiro 10 valores lembrando que 0 é o primeiro valor
df.head(10)

          Pais continente   Ano  Expectativa de vida  Pop Total         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106
5  Afghanistan       Asia  1977               38.438   14880372  786.113360
6  Afghanistan       Asia  1982               39.854   12881816  978.011439
7  Afghanistan       Asia  1987               40.822   13867957  852.395945
8  Afghanistan       Asia  1992               41.674   16317921  649.341395
9  Afghanistan       Asia  1997               41.763   22227415  635.341351

In [12]:
#Total de linhas e colunas
df.shape

(3312, 6)

In [14]:
#Demonstrando as colunas e o seu tipo
df.columns

Index(['Pais', 'continente', 'Ano', 'Expectativa de vida', 'Pop Total', 'PIB'], dtype='object')

In [15]:
#Coluna por tipo 
df.dtypes

Pais                    object
continente              object
Ano                      int64
Expectativa de vida    float64
Pop Total                int64
PIB                    float64
dtype: object

In [20]:
#Visualizando as últimas 20 linhas
df.tail(20)

          Pais continente   Ano  Expectativa de vida  Pop Total          PIB
3292    Zambia     Africa  1972               50.107    4506497  1773.498265
3293    Zambia     Africa  1977               51.386    5216550  1588.688299
3294    Zambia     Africa  1982               51.821    6100407  1408.678565
3295    Zambia     Africa  1987               50.821    7272406  1213.315116
3296    Zambia     Africa  1992               46.100    8381163  1210.884633
3297    Zambia     Africa  1997               40.238    9417789  1071.353818
3298    Zambia     Africa  2002               39.193   10595811  1071.613938
3299    Zambia     Africa  2007               42.384   11746035  1271.211593
3300  Zimbabwe     Africa  1952               48.451    3080907   406.884115
3301  Zimbabwe     Africa  1957               50.469    3646340   518.764268
3302  Zimbabwe     Africa  1962               52.358    4277736   527.272182
3303  Zimbabwe     Africa  1967               53.995    4995432   569.795071
3304  Zimbabwe     Africa  1972               55.635    5861135   799.362176
3305  Zimbabwe     Africa  1977               57.674    6642107   685.587682
3306  Zimbabwe     Africa  1982               60.363    7636524   788.855041
3307  Zimbabwe     Africa  1987               62.351    9216418   706.157306
3308  Zimbabwe     Africa  1992               60.377   10704340   693.420786
3309  Zimbabwe     Africa  1997               46.809   11404948   792.449960
3310  Zimbabwe     Africa  2002               39.989   11926563   672.038623
3311  Zimbabwe     Africa  2007               43.487   12311143   469.709298

In [22]:
#Gera várias metrícas sobre o conjunto de dados
df.describe()

               Ano  Expectativa de vida     Pop Total            PIB
count  3312.000000          3312.000000  3.312000e+03    3312.000000
mean   1980.301630            65.246871  3.161489e+07   11317.115805
std      16.927294            11.768412  1.041193e+08   11369.142739
min    1950.000000            23.599000  5.941200e+04     241.165876
25%    1967.000000            58.337500  2.678572e+06    2514.625266
50%    1982.000000            69.610000  7.557218e+06    7838.505123
75%    1996.000000            73.657750  1.958522e+07   17357.879170
max    2007.000000            82.670000  1.318683e+09  113523.132900

In [23]:
#Valores distintos de continente 
df["continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [25]:
#Setando um continente e as primeiras linhas
Oceania = df.loc[df["continente"] == "Americas"]
Oceania.head()

         Pais continente   Ano  Expectativa de vida  Pop Total          PIB
48  Argentina   Americas  1952               62.485   17876956  5911.315053
49  Argentina   Americas  1957               64.399   19610538  6856.856212
50  Argentina   Americas  1962               65.142   21283783  7133.166023
51  Argentina   Americas  1967               65.634   22934225  8052.953021
52  Argentina   Americas  1972               67.065   24779799  9443.038526

In [26]:
Oceania["continente"].unique()

array(['Americas'], dtype=object)

In [28]:
#Contagem de paises por continente de forma distinta 
df.groupby("continente")["Pais"].nunique()

continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64

In [29]:
#Ano por média de Pop Total
df.groupby("Ano")["Pop Total"].mean()

Ano
1950    2.078551e+07
1951    2.004618e+07
1952    1.294509e+07
1953    4.467892e+07
1954    4.553464e+07
1955    4.637114e+07
1956    4.718306e+07
1957    1.850620e+07
1958    4.824411e+07
1959    4.904059e+07
1960    4.747146e+07
1961    4.748732e+07
1962    1.923145e+07
1963    4.888653e+07
1964    4.977187e+07
1965    4.887912e+07
1966    4.985839e+07
1967    2.070101e+07
1968    5.175386e+07
1969    5.276896e+07
1970    5.382788e+07
1971    5.492494e+07
1972    2.138840e+07
1973    5.410928e+07
1974    5.783138e+07
1975    5.866299e+07
1976    5.940938e+07
1977    2.308771e+07
1978    6.077197e+07
1979    6.145291e+07
1980    6.212267e+07
1981    6.278779e+07
1982    2.519917e+07
1983    2.641195e+07
1984    2.658398e+07
1985    2.675259e+07
1986    2.692237e+07
1987    2.756186e+07
1988    2.724896e+07
1989    2.743209e+07
1990    3.002026e+07
1991    3.171477e+07
1992    2.957936e+07
1993    3.209029e+07
1994    3.224967e+07
1995    3.239519e+07
1996    3.252746e+07
1997    3.162403e+07
1998    3.278022e+07
1999    3.289507e+07
2000    3.300284e+07
2001    3.309659e+07
2002    3.310390e+07
2003    3.327638e+07
2004    3.428570e+07
2005    3.406480e+07
2006    3.213202e+07
2007    3.581268e+07
Name: Pop Total, dtype: float64

In [30]:
#Média do PIB Geral
df["PIB"].mean()

11317.115804696637

In [31]:
df["PIB"].sum()

37482287.5451553

In [32]:
#Média do PIB Geral por continente adicionado
df.groupby("continente")["PIB"].mean()

continente
Africa       2138.088351
Americas     8979.564475
Asia        10070.908182
Europe      16551.177664
FSU          7903.069822
Oceania     13078.961304
Name: PIB, dtype: float64